*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
width: 80vw;
height: 90vh;
max-width: 450px;
background-color: rgb(31, 43, 54);
padding: 2px 20px;
position: relative;

}
.game{
width: 100%;
height: 55%;
display: grid;
grid-template-rows: 33% 33% 33%;
grid-template-columns: 33% 33% 33%;
gap: 5px;
}
.boxes{
background-color: transparent;
box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.8),-2px -5px 10px rgba(0, 0, 0, 0.8);
color: aliceblue;
font-size: 50px;
display: flex;
align-items: center;
justify-content: center;
border: none;
cursor: pointer;
}
.hover:hover{
    box-shadow:inset 2px 5px 10px rgba(0, 0, 0, 0.8);
}
.turn{
    width: 100%;
    height: 20%;
display: flex;
align-items: center;
justify-content: center;
}
.choose{
    width: 40%;
    height: 50%;
    background-color: transparent;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.8),
    -2px -5px 10px rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    display: flex;
    
}
.turn1,.turn2{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-self: center;
    font-size: 20px;
    font-weight: 800;
    cursor: pointer;
}
.box1{
    border-radius: 10px 0px 0px 0px;
}
.box3{
    border-radius: 0px 10px 0px 0px;
}
.box7{
    border-radius: 0px 0px 0px 10px;
}
.box9{
    border-radius: 0px 0px 10px 0px;
}
.turn1{
    color: red;
    justify-content: center;
    border-radius: 10px;
    
}
.turn2{
    color: blue;
    justify-content: center;
    border-radius: 10px;
}
.bs{
    box-shadow:inset 2px 5px 10px rgba(0, 0, 0, 0.8);
}
.msg{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    gap: 5px;
}
.hide{
    display: none;
}
.btn {
    position: absolute;
    bottom: 20px;
    width: 100px;
    padding: 10px 5px;
    background-color: rgba(255, 255, 255, 0.1); /* Added slight background color */
    border: none;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    color: aliceblue;
    font-size: 15px;
    transition: all 0.3s ease; /* Smooth transition for hover effects */
    cursor: pointer;
}

.btn:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Change background for hover */
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.8); /* Change shadow */
    color: #00ffff; /* Optional: Change text color on hover */
    font-size: large;
}

#ng{
    right: 20px;
}
